body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #A9E4EF;
    color: #7a306c;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
header {
    background-color: #81F495;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
#logo {
    margin: 0;
    font-size: 24px;
}
/* */
nav ul {
    padding: 5;
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
/* */
nav ul li {
    margin-right: 20px;
}
/* */
nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s ease;
}
/* */
nav ul li a:hover {
    color: #E40066;
}
main {
    padding: 20px 0;
}
footer {
    padding: 20px;
    background-color: #7a306c;
    text-align: center;
}
#Social-Networks {
    list-style: none;
    padding: 0;
    justify-content: center;
    display: flex;
}
#Social-Networks li {
    margin: 0 15px;
}
#Social-Networks a {
    text-decoration: none;
    color: #A9E4EF;
}
/* Media queries to help make website responsive */
@media screen and (max-width: 576px) {
    header {
        padding: 10px;
    }
    nav ul {
        flex-direction: column;
        align-items: center;
    }
    nav ul li {
        margin: 10px 0;
    }
}
/* Medium screens (577-992 px) */
@media screen and (min-width: 577px) and (max-width: 992px) {
    header {
        padding: 20px;
    }
    nav ul li {
        margin: 0 10px;
    }
}
/* */
@media screen and (min-width: 993px) and (max-width: 1200px){
    main {
        padding: 35px;
    }
    footer {
        padding: 35px;
        /* Pushes the footer down to the bottom of the page */
        margin-top: auto;
    }
}
/* Extra-Large screens above 1200 pixels */
@media screen and (min-width: 1201px) {
    header {
        font-size: 24px;
    }
    nav ul li {
        margin: 0 20px;
    }
}