/* Asterisk wildcard selector to basically override the default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* General Styles */
body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #A9E4EF;
    color: #7a306c;
}
h1,
h2,
h3 {
    font-family: 'Nunito' sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
header {
    background-color: #81F495;
    position: fixed;
    z-index: 99;
    box-shadow: 0 2px 2px #3a3a3a;
    padding: 20px 0;
    text-align: center;
}
header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #E40066;
}

#logo {
    margin: 0;
    font-size: 24px;
}
/* */
nav ul {
    padding: 5;
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
/* */
nav ul li {
    margin-right: 20px;
}
/* */
nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s ease;
}
/* */
nav ul li a:hover {
    color: #E40066;
}
main {
    padding: 20px 0;
}
/* Hero Section */
#hero {
    background: url('../images/lifehack.webp') no-repeat center/center cover;
    height: 200px;
    width: 100%;
    position: relative;
}


footer {
    padding: 20px;
    background-color: #7a306c;
    text-align: center;
}
#Social-Networks {
    list-style: none;
    padding: 0;
    justify-content: center;
    display: flex;
}
#Social-Networks li {
    margin: 0 15px;
}
#Social-Networks a {
    text-decoration: none;
    color: #A9E4EF;
}
/* Media queries to help make website responsive */
@media screen and (max-width: 576px) {
    header {
        padding: 10px;
    }
    nav ul {
        flex-direction: column;
        align-items: center;
    }
    nav ul li {
        margin: 10px 0;
    }
}
/* Medium screens (577-992 px) */
@media screen and (min-width: 577px) and (max-width: 992px) {
    header {
        padding: 20px;
    }
    nav ul li {
        margin: 0 10px;
    }
}
/* */
@media screen and (min-width: 993px) and (max-width: 1200px){
    main {
        padding: 35px;
    }
    footer {
        padding: 35px;
        /* Pushes the footer down to the bottom of the page */
        margin-top: auto;
    }
}
/* Extra-Large screens above 1200 pixels */
@media screen and (min-width: 1201px) {
    header {
        font-size: 24px;
    }
    nav ul li {
        margin: 0 20px;
    }
}