/* Asterisk wildcard selector to basically override the default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* General Styles */
body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #CFD4DE;
    color: #7a306c;
}

h1, h2, h3 {
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #E40066;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 4px 2px #3a3a3a;
}
header a {
    text-decoration: none;
    color: inherit;
}

#Menu {
    font-size: 100%;
    letter-spacing: 5px;
    list-style-type: none;
}

#Menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* navbar styles for dropdown toggle*/
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}
/*Nav Toggle */

#nav-toggle:checked~nav {
    display: block;
}
#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

#logo {
    margin: 0;
    font-size: 24px;
}
/* targets unordered list that is inside the nav element on the header */
nav ul {
    padding: 0.5rem;
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
/* targets the descendent of the parent */
nav ul li {
    margin-right: 20px;
}
/* targets the descendent of the parent */
nav ul li a {
    text-decoration: none;
    color: #545cf2;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s ease;
}
/* when mouse hovers over element of the drop down menu */
nav ul li a:hover {
    color: #E40066;
}
/* Targets code with id of main*/
main {

    flex: 1 0 auto;
    margin-top: 50px;
    padding: 20px 0;
}
/* Hero Section */
#hero {
    /* shahadat-rahman.webp is the hero image */
    height: 700px;
    width: 100%;
    background: url("../images/shahadat-rahman.webp") no-repeat center center/cover;
}
/* Cover text ontop of hero image*/
#hero-text {
    background-color: #E8F0FF;
}

#hero h2, #hero h3 {
    margin: 0; /* Remove default margin for better alignment */
}

footer {
    padding: 20px;
    background-color: #7a306c;
    text-align: center;
}
#contact-us {
    margin-top: 60px;
}
#contact-us #email {
    margin-left: 35px;
}
#contact-us #message {
    margin-left: 10px;
    padding-right: 0;
}
#contact-us #Submit {
    margin-left: 100px;
    margin-bottom: 100px;
}
#image {
    height: 700px;
    margin-left: 300px;
    margin-top:-300px;
    width: 70%;
    background: url("../../assets/images/ian-schneider.webp") no-repeat center center/cover;
}
/* To help style the social networks logo*/
#Social-Networks {
    list-style: none;
    padding: 0;
    justify-content: center;
    display: flex;
}
#Social-Networks li {
    margin: 0 15px;
}
#Social-Networks a {
    text-decoration: none;
    color: #A9E4EF;
}
#lifehacks {
    margin-top: 30px;
}
/* Media queries to help make website responsive */

/* Small devices (280px and up) */
@media screen and (min-width: 280px) {
    /* Header */
    header {
        position: absolute;
        top: 0;
        left: 0;
        background-color: #ffffff;
        padding: 0.5rem;
        z-index: 99;
        width: 100%;
        box-shadow: 0 2px 2px #3a3a3a;
    }

    #Menu {
        margin-top: -20px;
    }

    #menu {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #menu > li {
        padding: 0.5rem;
    }

    .nav-toggle-label {
        /* for the drop down logo */
        display: block;
        text-align: right;
        font-size: 2rem;
    }

    #logo {
        font-size: 18px;
        line-height: 24px;
        margin: 0.5rem 0;
    }

    /* Main content */
    main {
        margin-top: 59px;
        padding: 10px;
    }

    /* Hero */
    #cover-text {
        width: 80%;
        right: 10%;
    }

    /* Cover text on top of hero image */
    #hero-text {
        background-color: #E8F0FF;
        margin-top: 80px; /* Adjust this value as needed */
    }
    
    /* Additional adjustments for small screens */
    h1, h2, h3 {
        font-size: 18px;
        letter-spacing: 1px;
    }

    nav ul li {
        margin-right: 10px;
    }

    nav ul li a {
        font-size: 14px;
    }
    #image {
        /* Adjust styles for small screens */
        height: 300px;
        margin-left: 0;
        margin-top: 0;
        width: 100%;
        background-size: contain;
    }
    #lifehacks {
        margin-top: 30px;
    }
}
/* For screens 768 pixels and up*/
@media screen and (min-width: 768px) {
    /* Header */
    header {
        position: absolute;
        top: 0;
        left: 0;
        /* For the cover text ontop of the hero image */
        background-color: #ffffff;
        padding: 0 1rem;
        z-index: 99;
        width: 100%;        
    }
    /* for the nav menu */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /* Main content */
    main {
        /* Push main content down to accommodate larger header */
        margin-top: 79px;
    }

    /* Hero */
    #cover-text {
        width: 300px;
        right: 50px;
    }
    /* for the text ontop of the hero image */
    #hero-text {
        margin-top: 40px;
        background-color: #E8F0FF;
    }
    #image {
        height: 450px;
        margin-left: 100px;
        margin-top: -200px;
        width: 90%;
    }
    footer {
        margin-top: 30px;
    }
    #about {
        margin-top: 20px;
    }
    #lifehacks {
        margin-top: 45px;
    }
}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover{
        border-bottom: 1px solid #3a3a3a;
    }
    #menu {
        margin-top: 79px;
    }
    #image {
        height: 550px;
        margin-top: -200px;
        margin-left: 200px;
        width: 75%;
    }
    #lifehacks {
        margin-top: 30px;
    }
}
/* Large devices (laptops and desktops, 1024px and up) */
@media screen and (min-width: 1024px) {
    /* Header */
    header {
        position: absolute;
        top: 0;
        left: 0;
        background-color: #ffffff;
        padding: 0 1rem;
        z-index: 99;
        width: 100%;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /* Main content */
    main {
        /* Push main content down to accommodate larger header */
        margin-top: 79px;
    }

    /* Hero */
    #cover-text {
        width: 300px;
        right: 50px;
    }

    #hero-text {
        margin-top: 40px;
        background-color: #E8F0FF;
    }
    #image {
        height: 650px;
        width: 72%;
        margin-top: -300px;
        margin-left: 300px;
    }
    #lifehacks {
        margin-top: 50px;
    }
}